spring:
  profiles:
    active: test
    group:
      prod:
        - prod
        - secret
      dev:
        - dev
        - example
      test:
        - test

  application:
    name: mc-archieve

  servlet:
    multipart:
      enabled: true
      max-file-size: 10MB
      max-request-size: 10MB


service:
  jwt:
    expiration: 900000 # 15 minutes

--- # prod
spring:
  config:
    activate:
      on-profile: prod

  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQLDialect
    defer-datasource-initialization: true

--- # dev
spring:
  config:
    activate:
      on-profile: dev

  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQLDialect
    defer-datasource-initialization: true

--- # test
spring:
  config:
    activate:
      on-profile: test

  jpa:
    database-platform: org.hibernate.dialect.H2Dialect
  datasource:
    driverClassName: org.h2.Driver
    url: jdbc:h2:mem:testdb
    username: sa
    password: password

  security:
    user:
      name: admin
      password: password

service:
  jwt:
    secret: secret-comes-here-needs-to-be-very-long-maybe-about-100-characters-for-hsa-512-key-generation-idk

cloud:
  aws:
    credentials:
      access-key: access-key
      secret-key: secret-key
    s3:
      bucket: bucket-name
    region:
      static: ap-northeast-2
    cloudfront:
      url: ~